<section class="block section-image-texte">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
      <div class="img-group relative h-64 overflow-hidden rounded-lg sm:h-80 lg:h-full" [ngClass]="imageOrderClass">
        <img [src]="imageUrl" [alt]="imageAlt" class="absolute inset-0 h-full w-full object-cover" />
      </div>
      <div class="txt-group lg:py-16" [ngClass]="textOrderClass" [innerHTML]="text"></div>
    </div>
  </div>
</section>
